body {
    margin: 0;
    font-family: Arial;
    background: #0f0f1a;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

h1 {
    margin-bottom: 20px;
}

/* دکمه‌ها */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #6c5ce7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin: 10px;
}

.btn:hover {
    background: #a29bfe;
}

/* کارت‌ها */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.card {
    background: #1e1e2f;
    padding: 20px;
    border-radius: 12px;
}

.file-name {
    margin-bottom: 10px;
    word-break: break-word;
}

.download {
    color: #00cec9;
    text-decoration: none;
}

.download:hover {
    color: #81ecec;
}

/* input */
.input {
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}
